{% extends "base.html" %}
{% block header %}
    <h1>About Us <small>Learning Portal</small></h1>
{% endblock %}
{% block title %}
    About US
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">About the website</h3>
                </div>
                <div class="panel-body">
                    <p>This is a demo website that shows the barebones of a video and formatted text tutorial sharing system.</p>
                </div>

            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Admin panel</h3>
                </div>
                <div class="panel-body">
                    <p>Admin panel can be reached from <a href="/admin/">here</a>. Username and password are both <kbd>admin</kbd>.</p>
                </div>


            </div>

        </div>
    <div class="col-xs-12 col-sm-4">
        <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Statistics</h3>
                </div>
                <div class="panel-body">
                    <p>There are currently {{ number_of_resources }} tutorials and {{ number_of_users }} users on the portal.</p>
                </div>

            </div>
    </div>
    </div>
{% endblock content %}