All list pages can be paginated. When there is pagination, this file is imported to provide "next" and "previous" buttons.
<div class="row">
        <div class="col-xs-12">
            <nav aria-label="...">
                <ul class="pager pagination-lg">
                    {% if page_obj.has_previous %}
                        <li class="previous {% if not page_obj.has_previous %} disabled {% endif %}">
                            <a href="?page={% if page_obj.has_previous %}{{ page_obj.previous_page_number }}{% else %}#{% endif %}"><span
                                    aria-hidden="true">&larr;</span><strong>Newer</strong></a></li>
                    {% endif %}
                    {% if page_obj.has_next %}
                        <li class="next {% if not page_obj.has_next %} disabled {% endif %}"><a
                                href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}
{% else %}#{% endif %}"><strong>Older</strong> <span
                                aria-hidden="true">&rarr;</span></a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>