{% extends "base.html" %}
{#This page shows post contents (both video and text).#}
{% load static %}
{% block title %}
    {{ object.title }} | Learning Portal
{% endblock %}
{% block header %}
    <h1>{{ object.title }}</h1>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-12 col-md-8">
            {% if object.video %}
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <video controls>
                                        <source src="{{ object.video.url }}">
                                    </video>
                                </div>
                            </div>
                            {#                    <div class="panel-footer">Panel footer</div>#}
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if object.text %}
                <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            {{ object.text|safe }}
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if not object.video and not object.text %}
                <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            This content does not have a video or text source. Please update it with some content.
                        </div>
                    </div>
                </div>
            {% endif %}
            </div>
            </div>

            <div class="col-xs-12 col-md-4">
                <div class="row">
                    <div class="col-xs-12">
                        {#                        <div class="panel panel-default">#}
                        {#                            <div class="panel-heading">#}
                        {#                                <h3 class="panel-title">Information</h3>#}
                        {#                            </div>#}
                        {#                            <div class="panel-body">#}
                        <ul class="list-group">
                            <li class="list-group-item"><strong>Content owner:</strong> {{ object.user.username }}</li>
                            <li class="list-group-item"><strong>Publish date:</strong> {{ object.date_created }}</li>
                            <li class="list-group-item"><strong>Last modification:</strong> {{ object.date_modified }}
                            </li>
                        </ul>
                        {#                            </div>#}
                        {#                        </div>#}
                    </div>
                    <div class="col-xs-12">
                        <div class="list-group">
                            <a href="{% url 'selectedusercontent-list' object.user.id %}" class="list-group-item"><span
                                    class="glyphicon glyphicon-user" aria-hidden="true"></span> Other resources by the
                                same user</a>
                            {% if already_in_watchlist %}
                                Different button, based on if the item is in watchlist or not.
                                <a href="{% url 'watchlist-delete' object.slug %}" class="list-group-item"><span
                                        class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove from my
                                    watchlist</a>
                            {% else %}
                                <a href="{% url 'watchlist-add' object.slug %}" class="list-group-item"><span
                                        class="glyphicon glyphicon-bookmark" aria-hidden="true"></span> Add to my
                                    watchlist</a>
                            {% endif %}
                            {% if object.video %}
                                <a href="{{ object.video.url }}" class="list-group-item" download><span
                                        class="glyphicon glyphicon-download" aria-hidden="true"></span> Download the
                                    video</a>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>

        </div>



{% endblock %}