{% extends 'base.html' %}
{#Homepage of the website. It shows latest videos.#}
{% block title %}Home{% endblock title %}
{% block header %}

{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="jumbotron">
                <h1>Learning Portal</h1>
                <p>A video and rich text information sharing platform</p>
                {% if user.is_authenticated %}
                {% else %}
                    <p><a class="btn btn-primary btn-lg" href="{% url 'signup' %}" role="button">Sign up</a></p>
                {% endif %}
            </div>

            <div class="page-header">
                <h1>Latest video contents <small>by all users</small></h1>
            </div>

        </div>
    </div>
    {% if object_list %}
        <div class="row">
            {% for object in object_list %}
                {% if object.video %}
                    <div class="col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-12 col-md-6">
                                        <div class="media">

                                            <div class="media-body">
                                                <h4 class="media-heading">{{ object.title }}</h4>
                                                {{ object.short_description }}
                                                <br>
                                                <div class="btn-group" role="group" aria-label="...">

                                                    <a href="{{ object.get_absolute_url }}">
                                                        <button type="button" class="btn btn-primary">Study</button>
                                                    </a>

                                                </div>

                                            </div>
                                        </div>
                                        <br>
                                    </div>
                                    <div class="col-xs-12 col-md-6">
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <video controls>
                                                <source src="{{ object.video.url }}" type="video/mp4">
                                            </video>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                {% elif False %}

                    <div class="col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="media">
                                    <div class="media-body">
                                        <h4 class="media-heading">{{ object.title }}</h4>
                                        {{ object.content.short_description }}
                                        <br>
                                        <div class="btn-group" role="group" aria-label="...">

                                            <a href="{{ object.get_absolute_url }}">
                                                <button type="button" class="btn btn-primary">Study</button>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="media-right">
                                        <a href="{{ object.get_absolute_url }}">
                                                        <span class="glyphicon glyphicon-align-left" aria-hidden="true"
                                                              style="font-size: 100px;"></span>
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                {% endif %}



            {% endfor %}


        </div>
    {% else %}
        List is empty.
    {% endif %}

{% include "paginator.html" %}


{% endblock content %}